<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>Step06_Listener</display-name>
	<welcome-file-list>
		<welcome-file>login_app/loginForm.jsp</welcome-file>
	</welcome-file-list>
	


	<!-- 로그를 위한 필터 추가 -->
	<filter>
		<filter-name>LogFilter</filter-name>
		<filter-class>filter.LogFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LogFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<!-- 세션 검증을 위한 필터 추가 -->
	<filter>
		<filter-name>AuthenticationCheckFilter</filter-name>
		<filter-class>filter.AuthenticationCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationCheckFilter</filter-name>
		<url-pattern>/login_app/LoginOk.jsp</url-pattern>
	</filter-mapping>

	<!-- 서블릿 등록 -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>ex0415.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>ex0415.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>

</web-app>

	